<!doctype html>
{% load static %}
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Página de registro de competições do Círculo Operário Pelotense - COP">
        <meta name="author" content="Michel Alves - Hippo">
        <title>PLACAR - Futebol de Mese</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
                integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div class="container">

            <header>
                <nav id="nav">
                    <a href="{% url 'base:home' %}" class="logo">
                        <img src="{% static 'img/logo_decop.webp' %}" alt="decop-logo">
                    </a>
                    <ul class="menu-list" id="menuList">
                        <li><a href="#" class="active">Competições</a></li>
                        <li><a href="#">Associações</a></li>
                        <li><a href="#">Jogadores</a></li>
                        <li><a href="#" id="department">Departamento</a></li>
                        <div class="menu-dropdown">
                            <ul class="list-dropdown" id="listDropdown">
                                <li><a href="#">Nova Competição</a></li>
                                <li><a href="#">Registrar Associação</a></li>
                                <li><a href="#">Registrar Jogador</a></li>
                            </ul>
                        </div>
                    </ul>
                    <button class="menu-toggle" id="menuToggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                </nav>
            </header>

            <div class="carousel-container">
                <div class="carousel-track">
                    <div class="carousel-item">
                        <p>Data: 25/12/2024</p>
                        <h3>Time A 2 x 1 Time B</h3>
                        <p>Campeonato Interno Etapa 2 Cavado</p>
                    </div>
                    <div class="carousel-item">
                        <p>Data: 24/12/2024</p>
                        <h3>Time C 0 x 3 Time D</h3>
                        <p>Campeonato Interno Etapa 2 Cavado</p>
                    </div>
                    <div class="carousel-item">
                        <p>Data: 23/12/2024</p>
                        <h3>Time E 1 x 1 Time F</h3>
                        <p>Campeonato Interno Etapa 2 Cavado</p>
                    </div>
                </div>
            </div>

            <main>
                <div class="card-bx">
                    <div class="in-progress">
                        <h3 class="bx-title">Em andamento:</h3>
                        <div class="in-progress-bx">
                            <div class="competition-card">
                                <div class="field-1">
                                    <i class="fas fa-medal"></i>
                                    <h3 class="comp-title">Campeonato Interno</h3>
                                    <h4 class="stage">Etapa 2</h4>
                                    
                                </div>
                                <div class="field-2">
                                    <h4 class="modality">Cavado</h4>
                                </div>
                            </div>
                            <div class="competition-card">
                                <div class="field-1">
                                    <i class="fas fa-trophy"></i>
                                    <h3 class="comp-title">Copa COP</h3>
                                    <h4 class="stage"></h4>
                                    
                                </div>
                                <div class="field-2">
                                    <h4 class="modality">Cavado</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="closed">
                        <h3 class="bx-title">Encerrados:</h3>
                        <div class="closed-bx">
                            <div class="competition-card">
                                <div class="field-1">
                                    <i class="fas fa-trophy"></i>
                                    <h3 class="comp-title">Circulão</h3>
                                    <h4 class="stage"></h4>
                                    
                                </div>
                                <div class="field-2">
                                    <h4 class="modality">Cavado</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


            <footer>
                <div class="footer">
                    <p>Desenvolvido por: </p>
                    <img src="{% static 'img/hippo_logo.png' %}" alt="">
                </div>
            </footer>






        </div>

        <script src="{% static 'js/scripts.js' %}"></script>

    </body>
</html>